
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s; 
}

/* container design */
.main-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 700px;
    gap: 20px;
}

.container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 40%;
    height: 100%;
    background-color: #000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.container .display {
    /* border: 1px solid black; */
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title  {
    color: #fff;
    font-size: 42px;
}

.display {
    font-size: 24px;
    text-align: center;
    color: #fff;
    
}

.container .figures {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;
}

.figures .row {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

/* button design */
.btn {
    background-color: gray;
    color: #fff;
    font-size: 20px;
}

.btn:hover{
    background-color: rgba(128, 128, 128, 0.8);
    color: #fff;
}

.btn-a, .btn-m, .btn-s, .btn-d, .btn-p {
    background-color: yellow;
    color: #000;
}

.btn-a:hover, .btn-m:hover, .btn-s:hover, .btn-d:hover, .btn-p:hover {
    background-color: rgb(225, 225, 0, 0.8);
    color: #000;
}

.row .btn {
    border: 0px;
    display: flex;
    margin: 2px 2px;
    justify-content: center;
    align-items: center;
    width: 33%;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
}

.row .btn-0{
    /* border: 1px solid black; */
    display: flex;
    margin: 2px 2px;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 600;
    cursor: pointer;
}

.row .btn-c{
    /* border: 1px solid black; */
    display: flex;
    margin: 2px 2px;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 600;
    cursor: pointer;
}

.row .btn-dot, .row .btn-eq, .row .btn-a,.row .btn-p {
    /* border: 1px solid black; */
    display: flex;
    margin: 2px 2px;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-weight: 600;
    cursor: pointer;
}

.mode {
    padding: 12px 10px;
    /* border: 1px; */
    border-radius: 10px;
    background-color: #000;
    color: beige;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid black;
}

.light {
    background-color: beige;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.light-body {
    background-color: #000;
}




/* media query */
@media  (max-width: 760px) {
        .main-container {
    width: 70%;
}

    .container {
    width: 100%;
}
}

@media  (min-width: 761px) and (max-width: 1200px){
    .container {
    width: 65%;
}
}